div{
    margin:auto;
}
.container{
    background-color: rgb(100, 0, 0);
    color:rgb(238, 187, 191);
    border-radius: 15px 15px 15px 15px;
    box-shadow:5px 5px 900px rgb(131, 131, 202);
}

.table {


}